body{
    background-color: #f6f6f6;
}
.container {
    margin: auto;
    display: flex;
    width: 700px;
    height: 500px;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    margin-top: 50px;

    .error_msg {
        text-align: center;

        h1 {
            font-size: 30px;
            font-weight: bolder;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    .btns {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
        align-items: center;

        .home {
            color: #3c7be1;
        }

        .login {
            padding: 10px;
            background-color: #3c7ce3;
            color: white;
            border-radius: 5px;
            width: 250px;
        }
    }
}