.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: auto;
    position: relative;
    top: 95px;
    overflow-y: scroll;

    .userCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-inline: 15px;
        width: 100%;
        height: 80px;
        border: 1px solid rgb(0, 0, 0, 0.05);
        border-radius: 10px;
        box-shadow: 0 1px 7px -2px rgb(0, 0, 0, 0.05), 0 3px 7px 1px rgb(0, 0, 0, 0.05), 0 1px 4px 2px rgb(0, 0, 0, 0.05);

        .userDetails {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
            justify-content: center;
            row-gap: 10px;

            .profile_pic {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .PersonalInfo {
                font-size: 14px;

                h1 {
                    font-size: 22px;
                    font-weight: 600;
                    margin-left: 5px;
                }

                .info {
                    font-weight: 400;
                    color: rgb(118, 118, 118);

                    p {
                        padding-left: 5px;
                    }
                }
            }
        }

        .updateBtn {
            display: flex;
            flex-direction: row;
            column-gap: 20px;

            button {
                padding: 8px;
                border-radius: 10px;
            }

            .deleteUser {
                background-color: #e95353;
                color: white;
            }

            .deleteUser:hover {
                background-color: #a94141;
            }

            .profileDetails {
                background-color: #b56ac1;
                color: white;
            }

            .profileDetails:hover {
                background-color: #854e8e;
            }
        }
    }
}
@media (max-width: 600px) {
    .userCard{
        height: 150px !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        row-gap: 10px !important;
    }
}