.context{
    margin: auto;
    text-align: center;
}
.btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    button{
        background-color: rgb(218, 4, 4);
        color: white;
        border-radius: 20px;
        padding: 8px 10px;
        font-weight: 500;
    }
}
.main{
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
}
