.container {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-auto-rows: 10px;
    justify-content: center;

    .post {
        display: grid;
        row-gap: 10px;
        width: 230px;
        height: 300px;

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: start;
            column-gap: 10px;
        }
    }
}