.main{
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .header{
        h1{
            font-size: 25px;
            font-weight: 600;
        }
    }
    .section{
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        align-items: start;
    }
}