.main{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    .page{
        padding: 21px;
    }
}
.menu{
    padding: 10px 20px;
    width: 300px;
    ul{
        list-style-type: none;  
        li{
            cursor: pointer;
            font-weight: 500;
            padding: 8px 10px;
            margin: 8px;
        }
    }
}
.menu ul li:hover{
    background-color: rgb(239, 239, 239);
    border: 0;
    border-radius: 30px;
}
.active{
    border-bottom: 3px solid black;
}
@media (max-width: 850px) {
    .main{
        flex-direction: column;
        row-gap: 20px;
    }
}