* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background-color: #ffe4c1;
    position: sticky;
    top: 0;
    height: 80px;

    .logo {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
        color: #9c0343;
    }
}

nav {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;

        li {
            cursor: pointer;
            font-weight: 500;
            padding: 8px 10px;
            margin: 8px;
            color: #9c0343;
        }
    }
}

nav ul li:hover {
    color: #ff5b45;
}

.active {
    border-bottom: 1px solid #9c0343;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 60px 100px;
    margin-top: 200px;
    margin-bottom: 0;
    background-color: rgb(233, 215, 190);

    h1 {
        font-size: 40px;
        color: rgb(0, 60, 150);
    }

    .section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 50px;
        row-gap: 20px;
        flex-wrap: wrap;
        width: auto;

        div {
            color: rgb(0, 60, 150);
            width: auto;

            h3 {
                font-size: 16px;
                margin-left: 8px;
                font-weight: 500;
            }

            ul {
                list-style-type: none;

                li {
                    cursor: pointer;
                    padding: 8px 0;
                    margin: 6px;
                    font-size: 20px;
                    font-weight: 400;
                }

                li:hover {
                    color: rgb(9, 98, 222);
                    border-bottom: 1px solid rgb(9, 98, 222);
                }
            }
        }
    }
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #9c0343;
}
.nav_open{
    transform: translate(0) !important;
}
@media (max-width: 750px) {
    #nav{
        position: fixed;
        top: 80px;
        left: 0;
        background-color: #ffe4c1;
        width: 100%;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
    }
    #nav ul{
        flex-direction: column;
    }
    .hamburger{
        display: block;
    }
}
@media (max-width: 1080px) {
    .footer{
        flex-direction: column;
        row-gap: 30px;
        .section div ul li{
            font-size: 18px;
        }
    }
}
@media (max-width: 440px) {
    .footer h1{
        font-size: 30px;
    }
}
@media (max-width: 381px) {
    .footer h1{
        font-size: 25px;
    }
}