.main {
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 20px;
    background-color: white;
    position: relative;
    top: 130px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.backgroundImage {
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(40%);
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.main_section {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.main_section_content_welcome {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
    margin-top: 20px;
    width: 300px;
}

.link {
    font-size: 12px;
    text-align: center;
}

.btn {
    background-color: #e60023;
    color: white;
    padding: 8px;
    border: 0;
    border-radius: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input_error,
select.input_error {
    border-color: #fc8181;
}

.error_msg {
    font-size: 12px;
    color: #fc8181;
}