.main{
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .header{
        h1{
            font-size: 25px;
            font-weight: 600;
        }
    }
}
.modalFooterbtn{
   margin-right: 10px;
}
.form_name{
    column-gap: 70px;
    h1{
        font-size: 20px;
        font-weight: 600;
    }
}
.formControl{
    margin-bottom: 15px;
    p{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    label{
        font-weight: 100;
        font-size: 12px;
    }
}
.lang_sec{
    margin-top: 20px;
    h1{
        font-size: 20px;
        font-weight: 600;
    }
}
.saveBtn{
    background-color: rgb(204, 38, 38);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
@media (max-width: 535px) {
    .main{
        width: auto;
    }
}