.main{
    position: relative;
    top: 80px;
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
}